* {
  margin: 0%;
  padding: 0%;
}
.home-main-container {
  height: 120vh;
  width: 100%;
  border-radius: 10px;
  background-color: aliceblue;
}
.top-text {
  margin: 20px;
  padding: 15px;
  border-bottom: 1px solid black;
}
.keyword {
  display: flex;
  margin-bottom: 6px 6px;
}
.top-container {
  display: flex;
  gap: 15px;
}
.left-container {
  height: 220px;
  width: 300px;
  background-color: white;
  border-radius: 10px;
  padding: 8px;
}
.right-container {
  height: 240px;
  width: 300px;
  /* border-radius: 10px;
  background-color: white; */
}
.middle-top-container {
  width: 70%;
  /* border: 2px solid black; */
  margin: auto;
  padding: 10px;
}
.middle-btn {
  border: none;
  width: 80px;
  height: 20px;
  background-color:white;
  border-radius: 10px;
}
.Broad{
background-color: rgb(147, 147, 247);
}
.add-btn{
  color: white;
  Background-color: rgb(130, 65, 250);
  padding: 10px 30px;
  border: 1px solid rgb(130, 65, 250);
  border-radius: 4px;
  cursor: pointer;
  /* margin: 20px auto;
  text-align: start;
  width: 90%;
  font-size: 1.12rem; */
  /* background-color: transparent; */

}
.table-data-container{
  margin-top: 10px;
  background-color: white;
  border-radius: 10px;
}